body{
    padding:0;
    margin:0;
 
}


.headsection1{
   background-color: rgb(23, 131, 113);
  
   padding-left: 100px;
   padding-right: 100px;
}


.headsection2{
   display:block;
   border-bottom: 1px solid black;
   padding-right: 60px;
   padding-left: 60px;
}
ul {
   list-style-type: none;
   margin: 0;
   padding: 0px;
   overflow: hidden;
  
}
  li {
   float:right;
}
 
  li a {
   display: block;
   color: white;
   font-size: 20px;
   padding: 14px 16px;
   text-decoration: none;
}
 .imag{
  justify-content: center;
  padding: 15px;
  display: flex;
  
}
.imag img{
   max-width: 100%;
}
 .section1{
  background-color: black
}
 .lorem{
  color:white;
  text-align: center;
  display: flow-root;
  line-height: 5px;
}



.text-center{
   text-align: center;
   padding: 10px;
}
.text-center img{
   border-radius: 50%;
   width: 100px;
   height: 100px;
}

.text-center h4{
 margin:5px 0 5px 0 ;
}

.container{
   width: 100%;
   padding-right: var(--bs-gutter-x,.75rem);
   padding-left: var(--bs-gutter-x,.75rem);
   margin-right: auto;
   margin-left: auto;
}

@media (min-width: 1400px){
   .container {
       max-width: 1320px;
   }
}

.row {
   --bs-gutter-x: 1.5rem;
   --bs-gutter-y: 0;
   display: flex;
   flex-wrap: wrap;
   margin-top: calc(var(--bs-gutter-y) * -1);
   margin-right: calc(var(--bs-gutter-x)/ -2);
   margin-left: calc(var(--bs-gutter-x)/ -2);
}

.col-3{
   flex: 0 0 auto;
   width: 25%;
}
.img-fluid{
   max-width: 100%;
   height: auto;

}

.section2{
   background-color: black;
   padding:2px;
   margin-bottom: 0px;
}
.text{
   text-align: center;
   color: white;
   font-size: 16px;
}
.flex-container2{
    display: flex;
    padding: 10px;
    margin:0px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.box1 img{
    height:150px;
    width:300px;
    
}

.bgcolor2{
   background-color: black;
   padding:20px;
}
.flex-container3{
   display:flex;
   justify-content: center;

}
.item-1{
   margin-right: 20px;
}
 .imageitem img{
    align-content: center;

}
.textcolor{
   color:white;
   font-weight: bold;
   font-size: 25PX;
  
}
.lorem1{
   color:white;
   line-height: 16px;
   padding-left: 0px;
 
}
.col-md-3 {
   flex: 0 0 auto;
   width: 25%;
}
.col-md-4 {
   flex: 0 0 auto;
   width: 33.33333333%;
}
.col-md-8 {
   flex: 0 0 auto;
   width: 66.6666666%;
}

.section3{
   padding-top:10px;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
   width: 100%;
   padding-right: var(--bs-gutter-x,.75rem);
   padding-left: var(--bs-gutter-x,.75rem);
   margin-right: auto;
   margin-left: auto;
}

.java {
   padding-top: 40px;
   font-size: 15px;
   margin-left: 30px;
   font-weight: bold;
}
.icons img {
   height: 100px;
   width: 100px;
  
}
.img-fluid {
   max-width: 100%;
 
}


.mango {
    padding-top: 40px;
    font-size: 15px;
    margin-left: 21px;
    font-weight: bold;
}
.textlayout{
   padding-top:60px;
   font-size:28px;
   font-weight: bold;
   line-height: 30px;
}

.partners{
   padding-top:40px;
   font-size: 15px;
   margin-left:28px;
   font-weight: bold;
 }
 
 .icons img{
     height:100px;
     width:100px;
     align: center;

 }
 .fbackground{
   background-color: black;
   margin-top: 10px;
}


.section4{
   padding-top:20px;
   
}

@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}
}

.justify-content-center {
   justify-content: center!important;
}


.about{
   color:white;
line-height: 18px;
}

.copyright{
   background-color:#2dabaf;
   text-align: center;
   color:white;
}
.copyright p{
   margin-bottom: 0px;

}
p {
   margin-top: 0;
  
}

@media (max-width: 768px){
   .container, .container-sm {
   max-width: 1300px;
}
.col-md-4 {
  
   width: 100%;
}
.col-md-8 {

   width:100%;
}
.col-3{
   width:100%;
}
.col-md-3{
   width:100%;
}

}
